:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --background-team-color: #f5f4fa;
  --border-text: #eeeeee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style-type: none; /* Убираем маркеры */
}

.list {
  padding: 0;
  margin: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-box {
  display: flex;
  margin-left: auto;
}

/* header */

.page-header {
  border-bottom: 1px solid #ececec;
}
.section-box {
  padding-top: 94px;
}
.header {
  margin: 0;
}

/* siete nav */

.site-nav__logo {
  color: var(--accent-color);
  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.studio {
  color: var(--primery-text-color);
}

.site-nav__text-size {
  text-decoration: none;
  color: #212121;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.site-nav {
  display: flex;
  align-items: center;
}
.site-nav a {
  display: block;
  padding-bottom: 24px;
  padding-top: 24px;

  color: var(--primery-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms var(--timing-function);
}

/* menu */

.menu__link--activ {
  position: relative;
  display: block;
}
.menu__link--activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: tomato;
  border-radius: 2px;
  background: var(--accent-color);

  transition: opacity 250ms var(--timing-function);
}
.menu__link:hover::after,
.menu__link:focus::after {
  opacity: 1;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
}

/* list link */

.list-link {
  display: flex;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  margin-left: auto;
  padding: 0;
}
.list-link__item {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.list-link a {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.list-link__button:hover,
.list-link__button:focus {
  color: var(--accent-color);
}
.list-link__button:hover svg,
.list-link__button:focus svg {
  fill: var(--accent-color);
}

.list-link__contact {
  margin-right: 10px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.list-linc__icon {
  margin-right: 10px;
  fill: var(--title-text-color);
  transition: fill 250ms var(--timing-function);
}

.list-link__button:hover .list-linc__icon {
  fill: var(--accent-color);
}
.list-link__button:hover .list-link__contact {
  fill: var(--accent-color);
}

.list-link__button {
  display: flex;
  align-items: center;
  transition: color 250ms var(--timing-function);
}

.list-link__button {
  margin-left: 50px;
}

/************** Section ***************
*************container box ************
****************************************/

.container-box {
  max-width: 1600px;
  height: 600px;
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-color: #000000;
}
.container-box__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 696px;
  text-align: center;
}

.container-box__button {
  color: var(--white-color);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

/* section box */


.section-box {
  padding-top: 94px;
  color: var(--title-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 0;
}

.section-box__hidden {
  display: none;
}

.section-box__attention {
  display: flex;
  margin: 0;
  padding: 0;
}
.section-box__item {
  margin-right: 30px;
  width: 270px;
}

.section-box__item:last-child {
  margin-right: 0;
}
.section-box__team {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 25px 102px;
}
.section-box__icon {
  fill: var(--primery-text-color);
}
.section-box__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


/* section content */


.section-content {
  padding-top: 94px;
}
.section-team {
  background: var(--background-team-color);
  padding-bottom: 94px;
  padding-top: 94px;
}

.section-content__thumb {
  position: relative;
}
.section-content__card {
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
.section-content__text {
  color: var(--white-color);
  font-family: Roboto;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}



.section-content__list {
  display: flex;
  padding-top: 0;
  padding: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.section-content__item {
  margin-right: 30px;
}
.section-content__item:last-child {
  margin-right: 0;
}

.section--text {
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

/* section team */


.section-team__subtitle {
  display: flex;
  text-align: center;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
}

.section-team__item {
  margin-right: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-team__item:last-child {
  margin-right: 0;
}

.people-list {
  padding-top: 30px;
 
}
.section-team__people {
  display: block;
  max-width: 100%;
}

.people-list__title{
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.people-list__text {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  margin: 0;
}

/* social link */

.social-box {
  margin: 0;
  display: flex;
  margin-top: 16px;
  padding: 0;
  justify-content: center;
  margin-bottom: 30px;
}

.social-box__link {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.social-box__link:hover .social-box__icon,
.social-box__link:focus .social-box__icon {
  fill: var(--white-color);
}
.social-box__link:hover,
.social-box__link:focus {
  background-color: var(--accent-color);
}
.social-box__link:last-child {
  margin-right: 0;
}
.social-box__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}

/*************************
 ********* company ********
 *****************************/

 .section-company {
  padding: 94px 0 94px 0;
}

.section-company__text {
  color: var(--primery-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
}

.company-box {
  padding: 0;
  margin: 0;
  display: flex;
}
.company-box__list {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.company-box__link {
  fill: #afb1b8;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--timing-function);
}
.company-box__link:last-child {
  margin-right: 0;
}
.company-box__list:last-child {
  margin-right: 0;
}
.company-box__icon {
  fill: #afb1b8;
  transition: fill 250ms var(--timing-function);
}
.company-box__link:hover .company-box__icon,
.company-box__link:focus .company-box__icon {
  fill: var(--accent-color);
}
.company-box__link:hover,
.company-box__link:focus {
  border: 1px solid #2196f3;
}

/* footer */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}



.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-content__logo {
  display: inline-block;
  padding-bottom: 20px;

  color: var(--white-color);
  font-family: Raleway;
  text-decoration: none;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.footer-content--logo{
  color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.footer-content__text {
  color: var(--white-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-top: 0;
}
.footer-content__list {
  padding: 0;
  margin: 0;
}

.footer-content__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}


.footer-social {
  margin-left: 70px;
}

.footer-social__title {
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social__list {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer-social__item {
  margin-right: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--timing-function);
}
.footer-social__link:hover .footer-social__icon,
.footer-social__link:focus .footer-social__icon {
  fill: var(--white-color);
}
.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}
.footer-social__link:last-child {
  margin-right: 0;
}
.footer-social__icon {
  fill: var(--white-color);
}



.footer-social__link:last-child {
  margin-right: 0;
}




/* ****************************
**********Footer form**********
*******************************
******************************* */

.footer-form {
  margin-left: 93px;
}
.footer-form__input {
  width: 351px;
  height: 50px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

.btn-box-form {
  display: inline-flex;
  color: var(--white-color);
  background: #2196f3;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.footer-form__icon {
  margin-left: 10px;
}

.footer-form__input::placeholder {
  padding: 15px 0 15px 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social__title {
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2250ms var(--timing-function),
    visibility 2250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  background-color: rgba(255, 255, 255, 1);

  transform: translate(-50%, -50%);
}
.modal__close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms var(--timing-function);
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: var(--accent-color);
}

/* backdrop form */

/**************************
***************************
***************************
 ******* Modal form********* 
 ***************************
 ****************************/

 .backdrop-form {
  width: 448px;
  margin: 0 auto;
}

.backdrop-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: 40px;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 40px;
  color: var(--primery-text-color);
}

.form-field__lable {
  margin-bottom: 4px;
  color: var( --title-text-color);
}
.modal-form {
  position: relative;
}
.modal-form__input {
  margin: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 448px;
  height: 40px;
  transition: border 250ms var(--timing-function);
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-field--textarea {
  margin-bottom: 20px;
}


.modal-form__icon {
  position: absolute;
  display: inline-block;
  transform: translateY(100%);
  margin-left: 15px;
  transition: fill 250ms var(--timing-function);

  top: 0;
  left: 0;
}
.modal-form__input:hover,
.modal-form__input:focus {
  border-color: var(--accent-color);
}
.modal-form:hover > .modal-form__icon,
.modal-form:focus > .modal-form__icon {
  fill: var(--accent-color);
}

.form-field:focus-within .modal-form__icon {
  fill: var(--accent-color);
}


textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}



/* .form-field input::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
} */




.form-field-lable {
  margin-bottom: 4px;
  color: var(--title-text-color);
}

/* ****************************
**********Chekbox**********
*******************************
******************************* */
.checkbox {
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
}

.checkbox__icon {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-repeat: no-repeat;

}


.checkbox__input:focus + .checkbox__icon {
  border-color: var(--accent-color);
}



.checkbox__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}



.checkbox-button {
  text-align: center;
  margin-bottom: 40px;
}

.checkbox-button__text {
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


.checkbox__link {
  color: var(--accent-color);
}





/* PORTFOLIO DECORATION */
.hidden { 
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section-pic {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-pic__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
  margin-bottom: 50px;
}

.section-pic__button {
  background: #f5f4fa;
  border: none;
  color: var(--primery-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  font-family: inherit;
  padding: 6px 22px;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  transition: background 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.section-pic__button:hover,
.section-pic__button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%),
    0px 2px 2px rgb(0 0 0 / 12%);
}








#link__curent {
  color: var(--accent-color);
}

.menu {
  display: flex;
  margin-left: 93px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.menu__item {
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}




/* Portfolio flex-box */


.pic-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: -30px;
  margin-left: -30px;
}

.pic-list__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}
.pic-list__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--timing-function);
}

.pic-list__link:hover,
.pic-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.thumb-pic {
  position: relative;
  overflow: hidden;
}

.thumb-pic::before {
  display: inline-block;
}

.thumb-section {
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
}

.thumb-section__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.pic-list__link:hover .thumb-section,
.pic-list__link:focus .thumb-section {
  transform: translateY(0);
}

.thumb-paragraph {
  border-right: 1px solid var(--border-text);
  border-bottom: 1px solid var(--border-text);
  border-left: 1px solid var(--border-text);
  padding: 20px 24px;
}

.thumb-paragraph__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
  margin: 0;
}
.thumb-paragraph__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
}










