/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2250ms $timing-function,
    visibility 2250ms $timing-function;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
 max-height: 609px;
 height: 100%;
 overflow: scroll;
  background-color: rgba(255, 255, 255, 1);

  transform: translate(-50%, -50%);
  @media screen and (min-width:1200px){
    width: 528px;
    
  }
 
}
.modal__close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms $timing-function;
}

.modal__close-icon:hover,
.modal__close-icon:focus {
  fill: $accent-color;
}

/* backdrop form */

/**************************
  ***************************
  ***************************
   ******* Modal form********* 
   ***************************
   ****************************/

.backdrop-form {
  // width: 448px;
  margin: 0 auto;
}

.backdrop-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
  text-align: center;

 
  color: $primery-text-color;
}

.form-field__lable {
  margin-bottom: 4px;
  color: $title-text-color;
}
.modal-form {
  position: relative;
}
.modal-form__input {
  margin: 0;
  padding-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 370px;
  height: 40px;
  transition: border 250ms $timing-function;
  @media screen and (min-width:1200px){
    width: 448px;
    
  }
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-field--textarea {
  margin-bottom: 20px;
}

.modal-form__icon {
  position: absolute;
  display: inline-block;
  transform: translateY(100%);
  margin-left: 15px;
  transition: fill 250ms $timing-function;

  top: 0;
  left: 0;
}
.modal-form__input:hover,
.modal-form__input:focus {
  border-color: $accent-color;
}
.modal-form:hover > .modal-form__icon,
.modal-form:focus > .modal-form__icon {
  fill: $accent-color;
}

.form-field:focus-within .modal-form__icon {
  fill: $accent-color;
}

textarea {
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  @media screen and (min-width:1200px){
    width: 448px;
    
  }
}

/* .form-field input::placeholder {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  
    color: rgba(117, 117, 117, 0.5);
  } */

.form-field-lable {
  margin-bottom: 4px;
  color: $title-text-color;
}

/* ****************************
  **********Chekbox**********
  *******************************
  ******************************* */
.checkbox {
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
}

.checkbox__icon {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: $accent-color;
  background-image: url(../images/icon-check.svg);
  border-color: $accent-color;
  background-size: contain;
  background-repeat: no-repeat;
}

.checkbox__input:focus + .checkbox__icon {
  border-color: $accent-color;
}

.checkbox__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $title-text-color;
}

.checkbox-button {
  text-align: center;
  margin-bottom: 40px;
}

.checkbox-button__text {
  padding: 10px 55px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: $white-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.checkbox__link {
  color: $accent-color;
}

#link__curent {
  color: $accent-color;
}

.menu__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
}
