 /* section content */
  .section-content{
    @media screen and (max-width:1199px){
      display: none;
      
    }
  }
  
 .section-content {
    padding-top: 94px;
  }
  .section-team {
    background: $background-team-color;
    padding-bottom: 94px;
    padding-top: 94px;
  }
  
  .section-content__thumb {
    position: relative;
  }
  .section-content__card {
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .section-content__text {
    color: $white-color;
    font-family: Roboto;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  
  
  .section-content__list {
    display: flex;
    padding-top: 0;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .section-content__item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  
  
  .section--text {
    color: $primery-text-color;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
  }