
    $primery-text-color    : #212121;
    $title-text-color      : #757575;
    $accent-color          : #2196f3;
    $white-color           : #ffffff;
    $background-team-color  : #f5f4fa;
    $border-text            : #eeeeee;
    $timing-function        : cubic-bezier(0.4, 0, 0.2, 1);
  